/target/
/build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iws
*.iml
*.ipr

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

/src/main/resources/application.properties
/src/main/resources/application.yml


.DS_Store
Thumbs.db

*.log
*.tmp
*.swp
*.swo

