<!-- footer.html -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<!--
<div class="container-fluid">
  <div class="row justify-content-end"><a aria-label="Chat on WhatsApp" href="https://wa.me/+50671362401"><img alt="Chat on WhatsApp" src="../assets/img/WhatsAppButtonGreenMedium.svg" />
    <a /></div>
</div>-->

<footer class="text-white justify-content-center">
  <div class="container-fluid" style="padding-top: 100px;padding-bottom: 100px; padding-left: 70px;">
      <div class="row">

        <!-- Columna 1: Horario de Atención -->
        <div class="col-md-3 col-sm-12 mb-3 text-start">
            <a class="navbar-brand" href="#"><img src="../assets/img/Logo_FemTech.png" alt="FEMTECH" width="280px"></a>
        </div>


          <!-- Columna 2: Enlaces Internos -->
          <div class="col-md-3 col-sm-12 mb-3">
              <h5 class="turquesa text-uppercase fw-bold">Enlaces</h5>
              <ul class="list-unstyled">
                  <li><a href="index.html" class="text-secondary text-decoration-none">Inicio</a></li>
                  <li><a href="about.html" class="text-secondary text-decoration-none">Acerca de</a></li>
                  <li><a href="contact.html" class="text-secondary text-decoration-none">Contacto</a></li>
              </ul>
          </div>

          <!-- Columna 1: Horario de Atención -->
          <div class="col-md-3 col-sm-12 mb-3 text-start">
            <h5 class="turquesa text-uppercase fw-bold">Horario de Atención</h5>
            <ul class="list-unstyled text-secondary">
                <li>Lunes a Viernes: 9:00 AM - 6:00 PM</li>
                <li>Sábado: 10:00 AM - 4:00 PM</li>
                <li>Domingo: Cerrado</li>
            </ul>
        </div>

          <!-- Columna 3: Redes Sociales -->
          <div class="col-md-3 col-sm-12">
              <h5 class="turquesa text-uppercase fw-bold">Síguenos</h5>
              <ul class="list-unstyled d-flex text-secondary">
                  <li><a href="https://www.facebook.com/people/FemTech/61572759292622/" target="_blank" class="text-secondary me-3"><i class="fab fa-facebook"></i> Facebook</a></li>
                  <li><a href="https://instagram.com/femtechcr" target="_blank" class="text-secondary"><i class="fab fa-instagram"></i> Instagram</a></li>
              </ul>
          </div>

                    
      </div>
      
  </div>

  <div class="text-center py-3" style="background-color: #0b063a;">
    <p>&copy; 2025 Femtechcr.com  |  Todos los derechos reservados.  |  Diseño: FemTech</p>
</div>

</footer>
