
        .navbar {
            width: 100%;
            background-color: #030027;
            color: #60e0df;
        }

        .navbar .nav-link{
            color: #60e0df;
            background-color: #030027;
        }

        .navbar .nav-link:hover{
            color: #ffffff;
        }

        .navbar-toggler-icon {
            color: #030027;
            background-color: #60e0df;
        }
